! urxvt
URxvt.geometry:                    74x27
URxvt*buffered: true
URxvt*cursorBlink: true
URxvt*underlineColor: yellow
URxvt*font:  xft:DejaVu Sans Mono:size=14
URxvt.boldFont:  xft:DejaVu Sans Mono:size=14
URxvt*depth: 32
URxvt*borderless: 1
URxvt*scrollBar: false
URxvt*loginShell: true
Urxvt*secondaryScroll:  true    # Enable Shift-PageUp/Down in screen
URxvt*saveLines: 5000
URxvt*termName: rxvt-unicode
URxvt.urlLauncher: firefox
URxvt.matcher.button: 1

URxvt.perl-ext-common: default,tabbed,matcher,resize-font,-tabbed
URxvt.keysym.C-minus:     resize-font:smaller
URxvt.keysym.C-plus:      resize-font:bigger
URxvt.keysym.C-equal:     resize-font:reset
URxvt.keysym.C-question:  resize-font:show
URxvt.iso14755: false
URxvt.iso14755_52: false

! XTerm
XTerm*locale: true
Xterm*saveLines: 4096
xterm*VT100.geometry: 80x32
xterm*faceName: Liberation Mono:size=15:antialias=false
xterm*font: 7x13

#define S_dark_black         #001a21
#define S_dark_red           #bd0a07
#define S_dark_green         #058e05
#define S_dark_yellow        #b58900
#define S_dark_blue          #0066ff
#define S_dark_magenta       #6c71c4
#define S_dark_cyan          #33ccff
#define S_dark_white         #fdf6e3

#define S_light_black        #073642
#define S_light_red          #cb4b16
#define S_light_green        #a5ff79
#define S_light_yellow       #657b83
#define S_light_blue         #839496
#define S_light_magenta      #d33682
#define S_light_cyan         #4fa6ff
#define S_light_white        #eee8d5

*background:            S_dark_black
*foreground:            S_light_yellow
*cursorColor:           S_light_cyan
*pointerColorBackground:S_light_green
*pointerColorForeground:S_light_cyan

!! black dark/light
*color0:                S_dark_black
*color8:                S_light_black

!! red dark/light
*color1:                S_dark_red
*color9:                S_light_red

!! green dark/light
*color2:                S_dark_green
*color10:               S_light_green

!! yellow dark/light
*color3:                S_dark_yellow
*color11:               S_light_yellow

!! blue dark/light
*color4:                S_dark_blue
*color12:               S_light_blue

!! magenta dark/light
*color5:                 S_dark_magenta
*color13:                S_light_magenta

!! cyan dark/light
*color6:                S_dark_cyan
*color14:               S_light_cyan

!! white dark/light
*color7:                S_dark_white
*color15:               S_light_white
